# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-identity
python-dotenv
requests
azure-ai-formrecognizer
azure-functions
msal
python-dotenv
requests
azure-ai-formrecognizer
azure-functions
python-dotenv
office365-rest-python-client
azure-ai-formrecognizer
